<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insurance Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>
<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Insurance Company</a>
</nav>
<div class="container">

    <h1 class="cover-heading" align="center">Insurance Company</h1>
    <p class="lead" align="center">Help you have a home</p>
    <form method="get" action="{{ url_for('insurance_search') }}" >
        
        <br>
        <p class="lead" align="center">Congrations! We successfully recieved your application</p>
        <p class="lead" align="center">You can use your Name and Property Address to check final insurance decision</p>
        <input class="btn btn-primary" role="button" type="submit" value="Return to Home page" />
            </form>
    <br>

</div>
</body>
</html>