<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insurance Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>
<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Insurance Company</a>
</nav>
<div class="container">

    <h1 class="cover-heading" align="center">Insurance Company</h1>
    <p class="lead" align="center">Help you have a home</p>
    <form method="post" action="{{ url_for('insurance_search') }}" >
        <div class="from-group">
        <label for="name">Name: </label>
        <input type="text" class="form-control" name="name" id="name" placeholder="Enter your real name.."
        required oninvalid="this.setCustomValidity('Please enter all required info')"/>
    <br>
    </div>
        <div class="from-group">
        <label for="address">The address you applied for: </label>
        <input type="text" class="form-control" name="address" id="address" placeholder="Enter address.."
        required oninvalid="this.setCustomValidity('Please enter all required info')"/>

    </div>
        <br>
        <input class="btn btn-primary" role="button" type="submit" value="Search Now" />
            </form>
    <br>
    <p class="lead">Or not applied yet..?</p>
    <br>
    <form method="get" action="{{ url_for('insurance_apply') }}" >
        <input class="btn btn-primary" role="button" type="submit" value="Start an Application" />

    </form>

</div>
</body>
</html>