<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Application</title>
</head>
<body>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <h1 style='front-family:"Comic Sans MS", cursive, sans-serif;'><center><i class='fab fa-asymmetrik fa-spin' style='font-size:50px;width:100;color:blue'></i> Zero Error Mortgage</center></h1>
    <div align="center">
        <h2 style='"Comic Sans MS", cursive, sans-serif;font-size:150%;line-height: 4.5;'>Employment Letter Details</h2>
        <form method="post" action="{{ url_for('employer_letter', userid=userid) }}" >
            {% if row.user_salary == 0 %}
                        <input type="text" name="name" placeholder="your realname.. " color="grey" style="height: 40px;width:400px" required="" oninvalid="this.setCustomValidity('Please enter all required info')"/><br>
                        <input type="text" name="company" placeholder="your company.. " color="grey" style="height: 40px;width:400px" required="" oninvalid="this.setCustomValidity('Please enter all required info')"/><br>
                        <input type="text" name="employer" placeholder="who gave this letter.." color="grey" style="height: 40px;width:400px" required="" oninvalid="this.setCustomValidity('Please enter all required info')"/><br>
                        <input type="text" name="position" placeholder="your position.." color="grey" style="height: 40px;width:400px" required="" oninvalid="this.setCustomValidity('Please enter all required info')"/><br>
                        <input type="text" name="department" placeholder="the department that you working in.." color="grey" style="height: 40px;width:400px" required="" oninvalid="this.setCustomValidity('Please enter all required info')"/><br>
                        <input type="number" name="salary" placeholder="Salary $.." color="grey" style="..."required="" oninvalid="this.setCustomValidity('Please enter all required info')"/><br>
            {% endif %}

            {% if row.user_salary != 0 %}
                <input type="text" name="name" placeholder="{{ row.user_realname }}" color="grey" style="height: 40px;width:400px" required="" oninvalid="this.setCustomValidity('Please enter all required info')"/><br>
                        <input type="text" name="company" placeholder="{{ row.user_company }}" color="grey" style="height: 40px;width:400px" required="" oninvalid="this.setCustomValidity('Please enter all required info')"/><br>
                        <input type="text" name="employer" placeholder="{{ row.employer_name }}" color="grey" style="height: 40px;width:400px" required="" oninvalid="this.setCustomValidity('Please enter all required info')"/><br>
                        <input type="text" name="position" placeholder="{{ row.employer_title }}" color="grey" style="height: 40px;width:400px" required="" oninvalid="this.setCustomValidity('Please enter all required info')"/><br>
                        <input type="text" name="department" placeholder="{{ row.employer_dpt }}" color="grey" style="height: 40px;width:400px" required="" oninvalid="this.setCustomValidity('Please enter all required info')"/><br>
                        <input type="number" name="salary" placeholder="{{ row.user_salary }}" color="grey" style="..."required="" oninvalid="this.setCustomValidity('Please enter all required info')"/><br>
            {% endif %}
                        
            <input type="submit" value="Submit" />
            </form>
    </div>

</body>
</html>