<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Application</title>
</head>
<body>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <h1 style='front-family:"Comic Sans MS", cursive, sans-serif;'><center><i class='fab fa-asymmetrik fa-spin' style='font-size:50px;width:100;color:blue'></i> Zero Error Mortgage</center></h1>
    <div align="center">
        <h2 style='"Comic Sans MS", cursive, sans-serif;font-size:150%;line-height: 4.5;'>Insurance Letter Details</h2>
        <form method="post" action="{{ url_for('insurance_letter', userid=userid) }}" >
            {%if row.insurance_value ==0%}
                        <input type="text" name="name" placeholder="your realname.. " color="grey" style="height: 40px;width:400px" required="" oninvalid="this.setCustomValidity('Please enter all required info')"/><br>
                        <input type="text" name="company" placeholder="your insurance company.. " color="grey" style="height: 40px;width:400px" required="" oninvalid="this.setCustomValidity('Please enter all required info')"/><br>
                        
                        <input type="text" name="address" placeholder="real estate address.." color="grey" style="height: 40px;width:400px" required="" oninvalid="this.setCustomValidity('Please enter all required info')"/><br>
                        <input type="number" name="insurance" placeholder="insurance price $.." color="grey" style="height: 40px;width:400px" required="" oninvalid="this.setCustomValidity('Please enter all required info')"/><br>
                        <input type="number" name="deductive" placeholder="deductive price $.." color="grey" style="..."required="" oninvalid="this.setCustomValidity('Please enter all required info')"/><br>
            {%endif%}
            {% if row.insurance_value != 0 %}
                <input type="text" name="name" placeholder="{{ row.user_realname }} " color="grey" style="height: 40px;width:400px" required="" oninvalid="this.setCustomValidity('Please enter all required info')"/><br>
                        <input type="text" name="company" placeholder="{{ row.insurance_company }} " color="grey" style="height: 40px;width:400px" required="" oninvalid="this.setCustomValidity('Please enter all required info')"/><br>
                        
                        <input type="text" name="address" placeholder="{{ row.re_address }}" color="grey" style="height: 40px;width:400px" required="" oninvalid="this.setCustomValidity('Please enter all required info')"/><br>
                        <input type="number" name="insurance" placeholder="{{ row_insurance_value }}" color="grey" style="height: 40px;width:400px" required="" oninvalid="this.setCustomValidity('Please enter all required info')"/><br>
                        <input type="number" name="deductive" placeholder="{{ row.deductable_value }}" color="grey" style="..."required="" oninvalid="this.setCustomValidity('Please enter all required info')"/><br>
            {% endif %}          
            <input type="submit" value="Submit" />
            </form>
    </div>

</body>
</html>