<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Status</title>
</head>
<body>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <h1 style='front-family:"Comic Sans MS", cursive, sans-serif;'><center><i class='fab fa-asymmetrik fa-spin' style='font-size:50px;width:100;color:blue'></i> Zero Error Mortgage</center></h1>
    <div align="center">
        <h2 style='"Comic Sans MS", cursive, sans-serif;font-size:150%;line-height: 4.5;'>Status</h2>
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <div class="progress" style="width:800px">
            {%if rows.have_submitted ==True%}
            <div class="progress-bar bg-success"  style="width:33%">33%</div><!-- change as which filled -->
            {%endif%}
            {%if rows.have_emp_help ==True or rows.is_insurable ==True%}
            <div class="progress-bar bg-success"  style="width:33%">66%%</div>
            {%endif%}
            {%if rows.is_insurable ==True and rows.have_emp_help ==True%}
            <div class="progress-bar bg-success"  style="width:100%">100%</div>
            {%endif%}
        </div>

        <ul style="line-height:3">
            <ol>Application Number: {{ rows.mortgage_id }}</ol>
            <ol>Employee Form submission: {{ rows.have_submitted }}</ol>
            <ol>Employer filled the form: {{ rows.have_emp_help }}</ol>
            <ol>Insurance Accepted: {{ rows.is_insurable }}</ol>
            </ul>
            <ol><form action="{{ url_for('broker_userMenu', userid=userid) }}" method="get">
               <button type="submit">return to user menu</button>
        </form></ol>
        <ol>
            <form action="{{ url_for('Insurance_Detail', userid=userid) }}" method="get">
                <button type="submit">Go To See Insurance Details</button>
            </form>
        </ol>
    </div>

</body>
</html>